body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: rgb(188,160,51);
	background: #3D3A2B;
}
a#github {
	position: fixed;
	top: 0px;
	right: 0px;
}
#wrapper {
	background: #F2EBD0;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}
#logo {
	margin: 30px 0 50px 0;
	text-align: center;
}
#examples {
	margin: 20px 0 40px 0;
}
#examples button {
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 18px;
	line-height: 18px;
}
#examples button:hover, button:active {
	box-shadow: 0px -2px 5px #DECD87;
}
a.classLink {
	font-size: 18px;
	line-height: 18px;
	margin: 0 8px;
}
.shadowed {
	color: rgba(188,160,51, 0.8);
	text-shadow: 1px 4px 6px #F2EBD0, 0 0 0 #000, 1px 4px 6px #F2EBD0;
}
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

a.shadowed {
	text-decoration: none;
}
a.shadowed:hover {
	box-shadow: 0px -2px 5px #DECD87; 
	color: rgba(188,160,51, 1);
	cursor: pointer;
}
iframe {
	display: block;
	width: 100%;
	height: 0;
	border: 0;
	padding-top: 20px;
	background: #F2EBD0;
	z-index: 10;
}
canvas {
	margin: 0 auto;
	width: 720px;
	display: block;
	border: 120px solid #F2EBD0;
	border-top: 30px solid #F2EBD0;
}
